page-select-site {
  ion-card {
    position: relative;
    text-align: center;
    height: 200px;
  }

  ion-card img {
    margin-top: 30px;
    width: 70px;
    height: auto;
    margin-left: auto;;
    margin-right: auto;
  }

  .card-title {
    position: absolute;
    top: 55%;
    left: 0;
    righ: 0;
    font-size: 2.0em;
    width: 100%;
    font-weight: bold;
    color: #fff;
  }

  .card-subtitle {
    font-size: 1.0em;
    position: absolute;
    top: 52%;
    width: 100%;
    color: #fff;
  }
}
