<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
      </button>
    <ion-title>{{ customTitle | translate }}</ion-title>
    <!--<ion-buttons end>
    <button ion-button icon-only (click)="newItem()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-buttons>-->
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-list *ngIf="dataLoaded">
    <ion-item-sliding *ngFor="let item of items">
      <button ion-item (click)="itemInfo(item)">
    <text-avatar *ngIf="listOptions.show_image && listOptions.image_type == 'text_avatar'" [text]="item.titulo_formateado" item-left></text-avatar>
    <ion-avatar *ngIf="listOptions.show_image && listOptions.image_type == 'avatar'" item-left>
      <img [src]="item.imagenes.md">
    </ion-avatar>
    <ion-thumbnail *ngIf="listOptions.show_image && listOptions.image_type == 'thumbnail'" item-left>
      <img [src]="item.imagenes.md">
    </ion-thumbnail>
    <ion-note float-right *ngIf="listOptions.show_date">
      <small>{{parseTwitterDate(item.fecha)}}</small>
    </ion-note>
    <h2 *ngIf="listOptions.show_title">{{item.titulo_formateado}}</h2>
    <p *ngIf="listOptions.show_description">{{removeHTMLTags(item.contenido_formateado)}}<p>
        </button>
    </ion-item-sliding>
    <ion-item *ngIf="!items || items.length <= 0">
      <ion-card>
        <ion-card-content>
          <h2 align="center">No hay artículos</h2>
        </ion-card-content>
      </ion-card>
    </ion-item>
  </ion-list>

  <ion-infinite-scroll (ionInfinite)="doInfinite($event)" *ngIf="page < totalPages">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Cargando más resultados..."></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
