<ion-header>

  <ion-navbar>
    <ion-title>{{ customTitle | translate }}</ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
                <span ion-text color="primary">Cerrar</span>
            </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content>
  <ion-searchbar (ionInput)="filterItems($event)" placeholder="Buscar"></ion-searchbar>
  <ion-list *ngIf="dataLoaded">
    <ion-item-sliding *ngFor="let item of drivers | sortBy: 'nombre'">
      <button ion-item (click)="selectDriver(item)">
          <ion-note float-right>{{item.categorias_formateadas}}</ion-note>
                <ion-avatar item-start>
					<img [src]="item.imagenes.md">
				</ion-avatar>
                <h2>{{item.nombre}}</h2>
				<p>{{item.email}}</p>
            </button>

      <ion-item-options>
        <button ion-button color="danger" (click)="deleteItem(item)">
              Borrar
            </button>
      </ion-item-options>
    </ion-item-sliding>

    <ion-item *ngIf="!drivers">
      <ion-card>
        <ion-card-content>
          <h2 align="center">No hay usuarios</h2>
        </ion-card-content>
      </ion-card>
    </ion-item>

  </ion-list>
</ion-content>
