.pink-theme {
  ion-content {
    background-color: #fff;
  }

  .toolbar-background-md {
    background-color: rgb(255, 139, 187);
    color: #fff;
  }

  .fab-md-primary {
    color: #fff;
    background-color: rgb(255, 139, 187);
  }

  .badge-md {
    border-radius: 4px;
    color: #fff;
    background-color: rgb(255, 139, 187);
  }

  .text-md-primary {
    color: rgb(255, 139, 187);
  }

  .button-clear-md {
    color: rgb(255, 139, 187);
  }

  page-message-info .chat-bubble.right {
    background-color: rgb(255, 139, 187);
    color: #fff;
  }

  page-message-info .chat-bubble.right:before {
    background-color: rgb(255, 139, 187);
    right: 10px;
    -webkit-transform: rotate(118deg) skew(-5deg);
}

  .toolbar-title-md {
    color: #fff;
  }

  .bar-button-clear-md-default,
  .bar-button-default-md,
  .bar-button-md-default {
    color: #fff;
  }

  .gradient {
    background: #81aaf9;
    background: -webkit-linear-gradient(-54deg, #a870fe 20%, #81aaf9 90%);
    background: -o-linear-gradient(-54deg, #a870fe 20%, #81aaf9 90%);
    background: -moz-linear-gradient(-54deg, #a870fe 20%, #81aaf9 90%);
    background: linear-gradient(-54deg, rgba(255, 139, 187, 0.58) 20%, #81a9f9 90%);
    position: relative;
    overflow: hidden;
  }
}
