page-welcome {
  .splash-bg {
    position: relative;
    background-size: cover;
    height: 100%;
    z-index: 1;
    background-repeat: repeat-x;
    animation: animatedBackground 40s linear infinite;
  }

  @keyframes animatedBackground {
    from { background-position: 0 0; }
    to { background-position: 100% 0; }
  }

  .splash-info {
    position: relative;
    z-index: 2;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 10%;
    width: 80%;
    margin-top: -225px;
  }
  .splash-logo {
    margin: auto;
    background: url('../assets/img/booboo_ico.png') repeat transparent;
    background-size: 100%;
    width: 160px;
    height: 136px;
    margin-bottom: 20px
  }
  .splash-intro {
    font-size: 18px;
    font-weight: bold;
    max-width: 80%;
    margin: auto;
    color: #fff
  }
  button.login {
    margin-top: 25px;
    background-color: white;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
    color: #333;

    &.activated {
      background-color: rgb(220, 220, 220);
    }
  }
}
