<ion-header>

    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>{{ customTitle | translate }}</ion-title>

        <!--<ion-buttons end>
      <button ion-button icon-only (click)="addItem()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>-->
    </ion-navbar>

    </ion-header>

    <ion-content>

      <ion-list *ngIf="dataLoaded && orders && orders.length > 0">
        <ion-item-sliding *ngFor="let item of orders | sortDescBy : 'id'">
            <button ion-item (click)="orderInfo(item)">
                <ion-icon name="cube" item-start large></ion-icon>
                <h2>Pedido #{{item.id}} <ion-badge [innerHtml]="item.estado_pedido_html"></ion-badge></h2>
                <p>de {{item.datos.recogida.recogida_localidad}} a {{item.datos.envio.envio_localidad}}</p>
                <p><b>Recogida:</b> {{item.datos.recogida.recogida_fecha}} de {{item.datos.recogida.recogida_horario_inicio}} a {{item.datos.recogida.recogida_horario_fin}}</p>
                <p><b>Entrega:</b> {{item.datos.envio.envio_fecha}} de {{item.datos.envio.envio_horario_inicio}} a {{item.datos.envio.envio_horario_fin}}</p>
                <p>{{item.tipo}} | {{item.datos.envio.envio_tipo_servicio}} | {{item.bultos_txt}} BULTOS | {{item.peso_txt}} Kgs.</p>
            </button>

          <!--<ion-item-options>
            <button ion-button color="danger" (click)="deleteItem(item)">
              {{ 'DELETE_BUTTON' | translate }}
            </button>
          </ion-item-options>-->
        </ion-item-sliding>

        </ion-list>

        <ion-list *ngIf="dataLoaded && (!orders || orders.length <= 0)">
          <ion-item>
        		<ion-card>
          		<ion-card-content>
          		    <h2 align="center">No hay pedidos</h2>
          		</ion-card-content>
        		</ion-card>
      		</ion-item>
        </ion-list>

        </ion-content>
